<section class="section bg-default">
  <div class="container d-flex">
      <div class="row">
        <div class="col-lg-6 py-sm">
          <h1 class="display-3  text-white">Welcome to POH</h1>
          <p class="lead text-white">You are welcome to our pet owner community, you can post any questions you like.</p>
          <div class="btn-wrapper">
            <a href="/question" class="btn btn-white btn-icon mb-3 mb-sm-0">
              <span class="btn-inner--icon"><i class="ni ni-cloud-download-95"></i></span>
              <span class="btn-inner--text">View all Questions posted</span>
          </a>
          </div>
        </div>
        <div class="col-lg-6 d-none d-lg-block">
          <img src="/public/img/question/home-pets.png" class="img-fluid rounded" alt= "pets photo">
        </div>
      </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="row row-grid align-items-center">
      <div class="col-12 col-lg-6">
        <div class="card bg-default shadow border-0">
          <img src="/public/img/brand/home-community.jpg" class="card-img-top" alt="a dog image">
          <blockquote class="card-blockquote">
            <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
              <polygon points="0,52 583,95 0,95" class="fill-default" />
              <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default" />
            </svg>
            <h1 class="display-3 font-weight-bold text-white">Friendly Community</h1>
            <p class="lead text-italic text-white">Share your problems with other users. Build the helpful community together.</p>
          </blockquote>
        </div>
      </div>
      <div class="col-lg-6 d-none d-lg-block">
        <div class="pl-md-5">
          <div class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle mb-5">
            <i class="fas fa-comment"></i>
          </div>
          <h2>Comment on other users</h2>
          <p class="lead">Comment on other users in the community and build a friendly community together</p>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section bg-secondary home-health-management-section">
  <div class="container">
    <div class="row row-grid align-items-center">
      <div class="col-12 col-lg-7">
        <div class="pr-md-5">
          <h1>Health Helper</h1>
          <p class="lead">Dogdog provies cool features for you to seak help
             from neighbors and pet owners near you.</p>
          <a href="/question" class="font-weight-bold text-warning mt-5">see all pet's questions posted in the community</a>
        </div>
      </div>
      <div class="col-md-4 d-none d-lg-block">
        <img src="/public/img/brand/home-health.png" class="img-fluid floating" alt="a dog photo">
      </div>
    </div>
  </div>
</section>


