<section class="section bg-default">
  <div class="container d-flex">
      <div class="row">
        <div class="col-lg-6 py-sm">
          <h1 class="display-3  text-white">welcome to POH</span></h1>
          <p class="lead text-white">POH can help you.</p>
        </div>
      </div>
  </div>
</section>

<section class="section section-md">
  <div class="container">
      <div class="row justify-content-center text-center mb-sm">
        <div class="col-lg-8">
          <h1>pets photos</h1>
        </div>
      </div>
  </div>
</section>